/* Typography */
$weights: (
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
);

/* Colors */
$black: #000000;
$white: #ffffff;
$primary: #121212;
$secondary: #21383e;
$gray-dark: #7d8186;
$gray-darkest: #404852;
$blue-dark: #2c3a4b;
$blue-darkest: #273240;
$brown-light: #f5f2ec;
$brown-dark: #7d6353;
$brown-darkest: #553c16;
$violet: #726985;
$violet-dark: #725ba2;
