.footer {
	display: flex;

	gap: 185px;

	&__content {
		flex: 0.75;
		display: flex;
		flex-direction: column;
		gap: 21px;

		& > h2 {
			max-width: 342px;
		}
		& > p {
			max-width: 394px;
		}
	}
	&__case-studies {
		flex: 1;
	}
}
