.case_study {
	display: flex;
	border-bottom: 0.5px solid black;

	&__content {
		display: flex;
		gap: 84px;
		flex: 1;

		& > span {
			font-family: Poppins;
			font-weight: $weight-semibold;
			font-size: 25px;
			line-height: 35px;
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	& > img {
		height: 100%;
	}

	&:nth-child(1) {
		padding-bottom: 50px;
	}
	&:nth-child(n + 2) {
		padding: 50px 0px;
	}
}
